@import '../variables.styl'

.button-back
  margin: 0 auto
  border-radius: 20px
  border: none
  background-color: background-light
  color: color-ligth
  font-size: unity * 2
  padding: 10px
.button-back:focus, .button-back:hover
  background-color: color-highlight
  border 2px solid background-color