@import '../variables.styl'

.button-back
  margin: 0 auto
  border-radius: 20px
  outline: none
  padding: 1rem
  background-color: background-light
  color: color-ligth
  font-size: 1em
.button-back:focus
  height 5em
  background-color: background-contrasting