@import '../variables.styl'

.footer
  height 100px
  background-color: #a412b3
  display: flex
  justify-content: center
  align-items: center
.footer--link
  color: white
.footer--link:focus,
.footer--link:hover
  background-color: color-highlight
