@import '../variables.styl'

.footer
  height 12vh
  background-color: background-light
  display: flex
  justify-content: center
  align-items: center
.footer--link
  color: white
.footer--link:focus,
.footer--link:hover
  border 2px solid white
  background-color: color-highlight
  border-radius: 20px
  padding: 5px