@import '../variables.styl'

.footer
  height 60vh
  background-color: background-light
  display: grid
  grid-auto-flow: column

.footer--link:focus,
.footer--link:hover
  border 2px solid color-ligth
  background-color: color-highlight
  border-radius: 20px
  padding: 5px