@import '../variables.styl'

.skip-link
  background-color: background-light

.skip-link--link
  position absolute
  top: -1200px

.skip-link--link:focus
  top: 0
  position relative
  color: white
  background-color: color-highlight
  display inline-block
  text-align: center