@import '../variables.styl'

.skip-link
  background-color: background-light

.skip-link--p
  display inline

.skip-link--link
  position absolute
  top: -1200px
  font-size: 2rem

.skip-link--link:focus
  top: 0
  position relative
  color: white
  border-radius: 20px
  border 2px solid background-color
  padding: 5px
  background-color: color-highlight
  display inline-block
  text-align: center