@import '../variables.styl'

margin-top-desktop = 30px

.footer
  height auto
  background-color: background-dark
  width 100vw
.footer__container
  width 80vw
  margin 0 auto
  display: grid
  justify-items: center
  text-align: center
  @media screen and (min-width: 768px)
    .linkedin-badge
      width 42%
  @media screen and (min-width: 1200px)
    grid-template-areas "logo quoteMine"\
                        "socialMediaTitle socialMediaTitle"\
                        "socialMediaImages socialMediaImages"\
                        "badge extraLinks"\
                        "loveQuote loveQuote"
    .footer--logo
      grid-area: logo
      margin-top: margin-top-desktop
    .footer__quote
      grid-area: quoteMine
      margin-top: margin-top-desktop
    .follow-me
      grid-area: socialMediaTitle
      margin-top: margin-top-desktop
    .footer__quote follow-me
      margin-top: 20px
    .footer__social
      grid-area: socialMediaImages
      margin-top: margin-top-desktop
      margin-bottom: 40px
    .linkedin-badge
      grid-area: badge
      margin-top: margin-top-desktop
    .footer__other-links
      grid-area: extraLinks
      margin-top: margin-top-desktop
    .coffe-quote
      grid-area: loveQuote
      margin-top: margin-top-desktop
.footer--logo
  height: 80px
  margin: 30px auto
.footer__quote
  color: white
  text-align: center
  margin: 40px 0 10px 0
  padding: 17px
.footer__social
  width 100%
  display: flex
  justify-content: space-around
.footer__social--logo
  height: 40px

.footer__social > a:hover,
.footer__social > a:focus
    height: 39px
    border: 1px solid white
    .footer__social--logo
      height: 39px

.footer__other-links
  margin-top: 30px
  & > nav > ul > li
    margin-top: 30px;
