@import '../variables.styl'
.header
  width: 100vw
  display: flex
  height 10vh
  background-color: background-dark
  box-shadow: 0 4px 4px 0px box-shadow
  & a
    display: flex
  &__logo
    height: 50px
    width: 50px
    align-self: center
    margin-left: 10px
