*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: Helvetica, sans-serif;
}
html {
  font-size: 19px;
}
body {
  background-color: #ffffff;
  overflow-x: hidden;
}
#root {
  overflow: hidden;
}
a {
  font-size: 1rem + 0.5;
}

* > #blog img {
  width: 100%;
  box-shadow: 1px 2px 12px 1px #b5b3b3;
  -moz-box-shadow: 1px 2px 12px 1px #b5b3b3;
  -webkit-box-shadow: 1px 2px 12px 1px #b5b3b3;
}

/* Layout starts*/

.skip-link {
  background-color: #052336;
}
.skip-link--p {
  display: inline;
}
.skip-link--link {
  position: absolute;
  top: -1200px;
  font-size: 2rem;
}
.skip-link--link:focus {
  top: 0;
  position: relative;
  color: #fff;
  border-radius: 20px;
  border: 2px solid #fff;
  padding: 5px;
  background-color: #176085;
  display: inline-block;
  text-align: center;
}

/* Footer */

.footer {
  height: auto;
  background-color: #012661;
  width: 100vw;
  box-shadow: 0px -3px 8px 0px #bcbdb0;
}
.footer__container {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  display: -ms-grid;
  display: -moz-grid;
  justify-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .linkedin-badge {
    width: 42%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    grid-template-areas:
      'logo quoteMine'
      'socialMediaTitle socialMediaTitle'
      'socialMediaImages socialMediaImages'
      'badge extraLinks'
      'loveQuote loveQuote';
  }
  .footer--logo {
    grid-area: logo;
    margin-top: 30px;
  }

  .footer__quote {
    grid-area: quoteMine;
    margin-top: 30px;
  }
  .follow-me {
    grid-area: socialMediaTitle;
    margin-top: 30px;
  }
  .footer__quote {
    grid-area: follow-me;
    margin-top: 20px;
  }
  .footer__social {
    grid-area: socialMediaImages;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .linkedin-badge {
    grid-area: badge;
    margin-top: 30px;
  }
  .footer__other-links {
    grid-area: extraLinks;
    margin-top: 30px;
  }
  .coffe-quote {
    grid-area: loveQuote;
    margin-top: 30px;
  }
}

.footer--logo {
  height: 80px;
  margin: 30px auto;
}
.footer__quote {
  color: white;
  text-align: center;
  margin: 40px 0px 10px 0px;
  padding: 17px;
}
.footer__social {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
}
.footer__social--logo {
  height: 40px;
}

.footer__social > a:hover,
.footer__social > a:focus {
  height: 39px;
  border: 1px solid white;
}
.footer__social--logo {
  height: 39px;
}

.footer__other-links {
  margin-top: 30px;
}
.footer__other-links > nav > ul > li {
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    grid-template-areas:
      'logo quoteMine'
      'socialMediaTitle socialMediaTitle'
      'socialMediaImages socialMediaImages'
      'badge extraLinks'
      'loveQuote loveQuote';
  }

  .footer--logo {
    grid-area: logo;
    margin-top: 30px;
  }
  .footer__quote {
    grid-area: quoteMine;
    margin-top: 30px;
  }
  .follow-me {
    grid-area: socialMediaTitle;
    margin-top: 30px;
  }
  .footer__quote {
    margin-top: 20px;
  }
  .footer__social {
    grid-area: socialMediaImages;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .linkedin-badge {
    grid-area: badge;
    margin-top: 30px;
  }
  .footer__other-links {
    grid-area: extraLinks;
    margin-top: 30px;
  }
  .coffe-quote {
    grid-area: loveQuote;
    margin-top: 30px;
  }
}

/* LinkedIn Badge */

.linkedin-badge {
  width: 100%;
  height: 400px;
  margin-top: 50px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  background-color: aliceblue;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.linkedin-badge--name {
  color: black;
}

.linkedin-badge--name:hover,
.linkedin-badge--name:focus {
  color: white;
}

.linkedin-badge > a:visited {
  color: black;
}

.linkedin-badge--background {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/web-projects-50e7e.appspot.com/o/images%2Fv2%2Flinkedin%20cover.jpeg?alt=media&token=7af29779-027c-4d39-b97e-819707fac55c);
  background-position: center;
  margin: 0 auto;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  padding: 15px;
}

.linkedin-badge--image {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 4px solid white;
}

.linkedin-badge--description {
  padding: 10px;
}

.linkedin-badge--go-profile {
  border: 1px solid #007db3;
  padding: 3px;
}
.linkedin-badge--go-profile > a {
  padding: 7px;
  font-size: 1.5rem;
  color: #007db3;
}
.linkedin-badge--go-profile > a:hover,
.linkedin-badge--go-profile > a:focus {
  color: black;
}

/* LinkedIn Badge */

@media screen and (min-width: 768px) {
  .linkedin-badge {
    width: 42%;
  }
}

/* Footer ends */

.header {
  width: 100vw;
  display: flex;
  display: -webkit-flex;
  height: 10vh;
  background-color: #012661;
  box-shadow: 0px 3px 8px 0px #bcbdb0;
}
.header > a {
  display: flex;
  display: -webkit-flex;
  padding-left: 10px;
}

.header__logo--img {
  height: 50px;
  width: 50px;
  align-self: center;
  /* margin-left: 10px; */
}

@media screen and (max-width: 360px) {
  .header__logo--img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 360px) and (orientation: landscape) {
  .header__logo--img {
    width: 40px;
    height: 40px;
  }
}

/* Nav */

.nav {
  width: 100%;
  height: 100%;
}
.nav__ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav__ul--column {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  -ms-flex-direction: column;
}

.ul__li {
  list-style: none;
  align-self: center;
}

.ul__li--a {
  /* On focus padding is less and border width replace them */
  cursor: pointer;
  color: #fafafa;
  text-align: center;
  font-size: 1rem;
  padding: 7px 30px;
}
@media screen and (max-width: 450px) {
  .ul__li--a {
    padding: 7px 20px;
  }
}

.ul__li--a:focus,
.ul__li--a:hover {
  padding: 5px 28px;
  border: 2px solid #fafafa;
  width: auto;
  border-radius: 20px;
}
@media screen and (max-width: 450px) {
  .ul__li--a {
    padding: 7px 18px;
  }
}

.ul__li--a-ligth {
  color: #052336;
  background-color: #176085;
  text-align: center;
  border-radius: 20px;
  padding: 10px 15px;
}

.ul__li--a-ligth:hover,
.ul__li--a-ligth:focus {
  background-color: #007db3;
  border: 2px solid #bcbdb0;
  padding: 8px 13px;
}
@media screen and (max-width: 450px) {
  .ul__li--a-ligth {
    padding: 7px 18px;
  }
}

.ul__li--a-dark:hover,
.ul__li--a-dark:focus {
  background-color: #176085;
}

/* Latoyt ends */

.blog-wrapper {
  display: grid;
  display: -ms-grid;
  display: -moz-grid;
  align-content: space-around;
  justify-content: center;
  margin: 0 auto;
}
.link {
  color: #020400;
  height: auto;
  width: auto;
}
.link:focus,
.link:hover {
  background-color: #007db3;
  color: #fafafa;
}
#blog {
  margin-top: 10vh;
  width: 90%;
  width: 90vw;
  text-align: left;
}

@media screen and (min-width: 900px) {
  #blog {
    width: 80%;
    width: 80vw;
  }
}
#blog li {
  margin: 20px 0 20px 30px;
}
#blog * {
  margin-top: 15px;
}

#blog a {
  color: #007db3;
}

#blog a:focus,
#blog a:hover {
  color: #0ebbf3;
}
h1 {
  margin-bottom: 10vh;
  font-size: 1.8rem;
}
blockquote {
  font-size: 1.2rem;
  font-style: italic;
  width: 100%;
  margin: 50px auto;
  color: #252323;
  padding: 20px;
  border-left: 8px solid #176085;
  line-height: 1.4;
  position: relative;
  background: #ededed;
  border-left: 10px solid #176085;
}
@media screen and (min-width: 900px) {
  blockquote {
    width: 95%;
  }
}
pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #007db3;
  color: #666;
  display: inline-block;
  width: 100%;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  height: 20vh;
}

pre,
code,
kbd,
samp {
  font-size: 0.98em;
}

pre {
  height: auto;
  width: 100%;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dd {
  margin: 0 0 0 2em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

@media screen and (max-width: 900px) {
  pre {
    padding: 20px auto;
  }
}

h1 {
  color: #020400;
  text-align: center;
  margin-top: 20vh;
}
.link {
  text-decoration: underline;
  text-decoration-color: #020400;
}
main {
  margin-bottom: 10vh;
}

li {
  text-align: left;
}

li > p {
  text-align: left;
  display: inline;
}

li {
  list-style: inside;
}
