//Used generally for font size
unity = 1rem

//Background
background-color = #ffffff
background-contrasting =  #007DB3
background-light = #052336
background-dark = #B3122C

//Color
color-dark = rgb(2,4,0)
color-ligth = #fafafa
color-highlight = #176085

//Box
box-shadow = #bcbdb0

