unity = 10px
//Background
background-color = #fafafa
background-contrasting = rgb(251, 186, 0)
background-light = #2261e1

//Color
color-dark= rgb(4,3,0) 
color-light = #fafafa
color-highlight =#0038ae

font-small()
  font-size: .7em

font-normal()
  font-size: 1em

font-big()
  font-size: 1.5em


font-bold()
  font-size: 12px
  font-weight: bold

font-h1()
  font-weight: bold
  font-size: 50px

font-h2()
  font-weight: bold
  font-size: 25px

font-h3()
  font-weight: bold
  font-size: 20px
