.wrapper
  height auto
  width: 90vw
  margin: 0 auto
  text-align: start
  & .main
    align-items: center
    margin-top: 20px
    height 100%
    display flex
    flex-direction: column
    justify-content: space-evenly