@import '../variables.styl'
main
  display grid
  align-content: space-between
  height 50vh
  margin-top: 25vh
  // justify-content: space-between
.message
  text-align: center
  color: color-dark