@import '../variables.styl'
.header
  width: 100vw
  display: flex
  height 15vh
  background-color: background-light
  box-shadow: 0 1px 6px 0px box-shadow
.header__nav
  width: 100%
  height 100%
.header__ul
  height 100%
  width: 100%
  display flex
  justify-content: space-around
.ul__li
  align-self: center
.ul__li--a
  color: color-ligth
  display inline-block
  text-align: center
  font-size: 2rem
  @media screen and (max-width: 300px)
    font-size: 1.5rem
    width auto
  @media screen and (min-width: 400px)
    font-size: 2rem
    width auto
  @media screen and (min-width: 700px)
    font-size: 2rem
    width 14rem
.ul__li--a:focus, 
.ul__li--a:hover
  background-color: color-highlight
  border-radius: 20px
  padding: 5px
  border 2px solid white
  width 14rem
  @media screen and (max-width: 700px)
    width: 8rem
    height 3rem
    font-size: 2rem
    text-align: center

  