@import '../variables.styl'
.header
  width: 100vw
  display: flex
  height 10vh
  background-color: background-light
  box-shadow: 0 1px 6px 0px box-shadow
.header__nav
  width: 100%
  height 100%
.header__ul
  height 100%
  width: 100%
  display flex
  justify-content: space-around
.ul__li
  align-self: center
.ul__li--a
  color: color-ligth
  display inline-block
  text-align: center
  font-size: unity * 2
  @media screen and (max-width: 300px)
    font-size: unity  0.5
    width auto
  @media screen and (min-width: 400px)
    font-size: unity * 2
    width auto
  @media screen and (min-width: 700px)
    font-size: unity * 2
    width unity * 14
.ul__li--a:focus, 
.ul__li--a:hover
  background-color: color-highlight
  border-radius: 20px
  padding: 5px
  border 2px solid color-ligth
  width unity * 14
  @media screen and (max-width: 700px)
    width: unity * 8
    height unity * 3
    font-size: unity * 2
    text-align: center

  