.about-me
  display: grid
  justify-items: center
  padding: 5% 0
  width: 100%
.about-me__img
  border-radius: 50%
  width: 20%
  margin-bottom: 5%

.about-me__title
  text-align: center

.about-me__name
  margin-top: 50px
  text-align: center

.about-me__navigation
  width: 100vw
  height: 20vh
  margin-bottom: 15vh
  @media screen and (max-width: 360px)
    height: 50vh

.ul__li--a-ligth 
  @media screen and (max-width: 360px)
    width: 7rem
