@import '../variables.styl'
.main
  margin-top: 10vh
  font-size: 1.3rem
.highlight--link
  color background-contrasting
.highlight--link:focus,
.highlight--link:hover
  font-size: auto
  height auto
  color: color-ligth
  background-color: background-contrasting

.main__welcome
  color: color-dark
