@import '../variables.styl'
.main
  margin-top: 10vh
.highlight
  color color-highlight
  display: inline
.highlight--link:focus
  font-size: 1.5em
  height 2em
  color: color-ligth
  background-color: color-highlight


.main__welcome
  color: color-dark
  margin-bottom: 5vh
.main__links
  color: color-dark