@import '../variables.styl'

.blog-wrapper
  display grid
  align-content: space-around
  justify-content: center
  height 63vh
  margin: 0 auto

.link-container
  display flex
  justify-content: center
  margin: 0 auto

.link
  color: color-dark
  width 100%
.link:focus, .link:hover
  background-color: background-contrasting
  color: color-ligth