@import '../variables.styl'
.main
  margin-top: 10vh
  font-size: 1.3rem
.highlight
  color color-highlight
  display: inline
  font-size: .7rem
.highlight--link:focus,
.highlight--link:hover
  font-size: 1.3rem
  height 2rem
  color: color-ligth
  background-color: color-highlight


.main__welcome
  color: color-dark
  margin-bottom: 5vh
.main__links
  color: color-dark