@import '../variables.styl'
.sections
  display grid
  justify-items: center
  margin-top: 2vh
  grid-template-columns: 1fr
  grid-gap: 20px
  @media screen and (min-width: 700px)
    grid-template-columns: repeat(2, 1fr)
  @media screen and (min-width: 1024px)
    margin-top: 12vh
    grid-template-columns: repeat(3, 1fr)
.section--container
  box-shadow: -2px 1px 9px 0px box-shadow
  margin-top: 8vh
  border-radius: 30px 0 30px 0
.section--link  
  text-align: center
  background-color: background-contrasting
  height 100%
  display flex
  flex-direction: column
  justify-content: space-between
  padding: 50px 0
  @media screen and (min-width 750px)
    width: 100%
.section--link:focus,
.section--link:hover
  cursor pointer
  background-color: background-dark

.section--img--cotainer
  overflow-y  hidden
  display inline-block
  height 300px

.section--img
  object-fit: contain
  border-radius: 40px
  height 100%
  width: 100%
  padding: 15px
.section--title
  color: color-ligth
  padding-top: 10px
  font-size: unity * 2
.section--description
  margin: 13px
  font-size: unity + 0.3
  margin-top: 10px
  text-align: center
  color color-ligth
