.section
  margin: 40px 0
  text-align: center
  background-color: #fafafa
  height 30vh
  & .title
    color: black
    padding-top: 10px
  & .description
    margin: 13px
    margin-top: 10px
    text-align: left
    color black