@import '../variables.styl'
.sections
  display grid
  justify-items: center
  margin-top: 2vh
  grid-template-columns: 1fr
  grid-gap: 20px
  @media screen and (min-width: 700px)
    grid-template-columns: repeat(2, 1fr)
  @media screen and (min-width: 1024px)
    margin-top: 12vh
    grid-template-columns: repeat(3, 1fr)
.section--container
  box-shadow: 0 3px 8px 0px rgba(2,4,0,0.3)
  margin-top: 8vh
  border-radius: 30px 0 30px 0
.section--link  
  text-align: center
  background-color: background-contrasting
  height 100%
  @media screen and (min-width 750px)
    width: 100%
  display flex
  flex-direction: column
  justify-content: space-around
.section--link:focus,
.section--link:hover
  cursor pointer
  color: white
  font-size: 1.5em
  background-color: background-light

.section--title
  color: color-ligth
  padding-top: 10px
  font-size: 2rem
.section--description
  margin: 13px
  font-size: 1.3rem
  margin-top: 10px
  text-align: center
  color color-ligth
